body {
    position: relative;
    min-height:calc(100vh - 176px);
    margin: 0;
    padding-top: 132px;
    padding-bottom: 44px;
}

#footer {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44px;
    bottom: 0;
    left: 0;
    background: #1F6B75;
}

a#about-us {
    text-decoration: none;
    position: absolute;
    left: 6%;
    bottom: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #5FC0CE;
}

a#contacts {
    text-decoration: none;
    position: absolute;
    left: 12%;
    bottom: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #5FC0CE;
}

a#questions {
    text-decoration: none;
    position: absolute;
    left: 20%;
    bottom: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #5FC0CE;
}

#header #main {
    position: fixed;
    width: 100%;
    height: 132px;
    left:0;
    top: 0;
    background: #5FC0CE;
    border-radius: 0px 0px 0px 15px;
}

#header #strip{
    position: fixed;
    width: 80%;
    height: 66px;
    left: 20px;
    top: 66px;
    background: #03899C;
    border-radius: 0px 15px 0px 0px;
}

#header #circle{
    position: fixed;
    width: 92px;
    height: 92px;
    left: 20px;
    top: 20px;
    border-radius: 50%;
    background: #03899C;
}

#header #down-name{
    position: fixed;
    width: 297px;
    height: 46px;
    left: 183px;
    top: 74px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

#header #up-name{
    position: fixed;
    left: 135px;
    top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #015965;
}

#header #logo{
    position: fixed;
    width: 70px;
    height: 70px;
    left: 31px;
    top: 31px;
}

.form-input {
    width: 316px;
    height: 45px;
    background: #D9D9D9;
    border: 2px solid #015965;
    border-radius: 15px;
    color: #1F6B75;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
}

button {
    width: 316px;
    height: 45px;
    padding: 0;
    margin: 0;
    border: 0px;
    background: #D9D9D9;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}

button.active {
    background: #03899C;
}

.form-container {
    display: flex;
    justify-content: center;
}

.auth-form {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test-form{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    font-family: 'Inter';
    font-style: normal;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #015965;
    text-align: center;
}

#to-register{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    padding-top: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #015965;
 }

.auth-error{
    font-family: 'Inter';
    font-style: normal;
    margin: 0;
    padding: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FF1300;
}

h1 {
    margin-top: 40px ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #015965;
}

.index-content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    color: #015965;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    color: #03899C;
}

tr{
    height: 40px;
}

td{
    padding: 0px;
}

td.name{
    padding-left: 20px;
}

td.birthday{
    padding-right: 20px;
    text-align: right;
}

tr.not-even{
    background: #E7EDF2;
}

tr.even{
    background: #D9D9D9;
}

.table-refer{
    text-decoration: none;
    color: #03899C;
}

.card-main{
    position: absolute;
    width: 185px;
    padding-bottom: 15px;
    left: 70px;
    top: 202px;
    background: #5FC0CE;
    border-radius: 0px 0px 15px 0px;
}

.card-strip{
    padding: 15px;
    width: 155px;
    background: #03899C;
    border-radius: 0px 0px 15px 0px;
}

.card-content{
    margin-top: 70px;
    margin-left: 255px;
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #015965;
}

.card-name{
    margin: 0px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    color: #FFFFFF;
    word-wrap:break-word;
}

.card-avatar{
    object-fit: cover;
    height: 95px;
    width: 95px;
    border-radius: 50%;
}

.card-header{
    font-family: 'Inter';
    margin: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.card-info{
    margin: 0px;
    margin-left: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #015965;
}

#login-button{
    position: absolute;
    width: 140px;
    right: 20px;
    top: 43.5px;
}

button.active:hover{
    cursor: pointer;
}

#add-question-button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #1F6B75;
}

#add-question-button:hover{
    cursor: pointer;
    color: #1F6B75;
}

#avatar{
    object-fit: cover;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

#user-widget{
    position: absolute;
    top: 20px;
    right: 50px;
}

#user-name{
    font-family: 'Inter';
    margin: 0px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

#user-reference{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 112px;
}

.add-test-input{
    width: 600px;
    height: 40px;

    background: #D9D9D9;
    border: 1px solid #1F6B75;
}

.add-question-input{
    width: 600px;
    height: 90px;

    background: #D9D9D9;
    border: 1px solid #1F6B75;
}

.add-answer-button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #03899C;
}

.add-answer{
    width: 250px;
    height: 30px;
    background: #D9D9D9;
    border: 1px solid #1F6B75;
}

.add-answer-mark{
    width: 50px;
    height: 30px;
    background: #D9D9D9;
    border: 1px solid #1F6B75;
}

#answer-column1-name{
    top:0;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1F6B75;
}

#answer-column2-name{
    top:0;
    margin: 0;
    margin-left:80px;
    left: 70px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1F6B75;
}

.answer-row{
    margin-top: 5px;
}

.add-answer-button{
    margin-left: 70px;
}

.add-answer-button:hover{
    cursor: pointer;
}

.menu{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 33px;
    color: #5FC0CE;
}

.navigation{
        position:absolute;
        top: 33px;
        right:20px;

}

.table-refer:hover{
    cursor: pointer;
}

.logout{
    position: absolute;
    height: 20px;
    right: 15px;
    top: 15px;
}

#test-submit{
    margin-top: 20px;
}


/* transition */
.btn, .closer, .overlay {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(0,0,0,0.87);
}

.dlg-modal {
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: 300px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    position: fixed;
    left: 50%;
    z-index: 10;
    padding: 35px 36px;
    background: ghostwhite;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.85);
    box-shadow: 0 0 20px rgba(0,0,0,0.85);
}

#out_modal {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
}

.dlg-modal-fade {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dlg-modal-slide {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    visibility: visible;
    opacity: 1;
}

.closer {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url('/static/img/cross.png') no-repeat;
    cursor: pointer;
}

.closer:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* animation */
.fadeIn, .fadeOut, .slideInDown, .slideOutUp {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes fadeIn {
    from { opacity: 0;
            visibility: hidden;
    }
    to {
            opacity:1;
            visibility: visible;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    opacity: 1;
    visibility: visible;
}

@keyframes fadeOut {
    from {
            opacity: 1;
            visibility: visible;
    }
    to {
            opacity:0;
            visibility: hidden;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
     animation-name: fadeOut;
      opacity: 0;
       visibility: hidden;
}

@keyframes slideInDown {
    from {
            top: -20px;
            -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    }
    to {
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes slideOutUp {
    from {
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    }
    to {
            top: -20px;
            -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}

