{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Психо-тест</title>
    <script src="{% static 'js/getCookie.js' %}"></script>
</head>
<body>
    <header>
        <div id="header">
            <div id="main">
                {% if authenticated %}
                <div id="user-widget">
                    <a href="/lk/" id="user-reference">
                        <img id="avatar" src="{{ user.avatar.url }}">
                        <p id="user-name">{{ user.get_oficial_name }}</p>
                </a>
            </div>
                {% else %}
                {% if not auth_process %}
                <button type="submit" id="login-button" class="active" onclick="location.href='/authentication/login'">Войти</button>
                {% endif %}
                {% endif %}
            </div>
            <div id="strip">
                <div class="navigation">
                    {% if user.role == "DC" %}
                        <a href="/specialist/pacients" class="menu">Мои пациенты</a>
                        <a href="/specialist/tests" class="menu">Мои тесты</a>
                    {% endif %}

                    {% if user.role == 'PC' %}
                        <a href="/pacient/new" class="menu">Предстоящие тесты</a>
                        <a href="/pacient/recent" class="menu">Прошлые тесты</a>
                    {% endif %}
                </div>
            </div>
            <div id="circle"></div>
            <a href="/"><img id="logo" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;" src="{% static 'img/logo.svg' %}"></a>
            <a href="/"><div id="up-name">ETU</div></a>
            <a href="/"><div id="down-name">ПСИХОТЕСТ</div></a>
        </div>
    </header>
        {% block content %}

        {% endblock %}
    <div id="footer">
        <a href="/about" id="about-us">О нас</a>
        <a href="/contacts" id="contacts">Контакты</a>
        <a href="/questions" id="questions">Вопрос-ответ</a>
    </div>
</body>
{% block script %}

{% endblock %}
</html>