{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card-main">
    <div class="card-strip">
        <img class="card-avatar" src="{% static 'img/autor.jpg' %}">
        <p class="card-name">Сенькин<br>
            Антон <br>
            Николаевич
        </p>
    </div>
    <p class="card-info"><br><br><br>
    </p>
</div>
<div style="margin-left: 300px;" class="index-content">
    <h1>О нас</h1>
    <p>
        Дата рождения: 1.07.2000
    </p>
    <p>
        Гражданство: Россия
    </p>
    <p>
        Город: Санкт-Петербург
    </p>
    <p>
        Языки: Русский, Английский
    </p>
    <p>
        Образование: СПбГЭТУ "ЛЭТИ"
    </p>
    <p>    
        Группа: 8503
    </p>
    <p>
        Данный сайт является практической реализацией дипломной работы по теме "Разработка web-сайта для проведения психодиагностического эксперимента".
    </p>
</div>
{% endblock %}