{% extends 'base.html' %}

{% block content %}
    <div class="index-content">
        <h1>Контакты</h1>
        <ul>
            <li><p>Почта: anton.senkin.00@mail.ru</p></li>
            <li>VK: <a href="https://vk.com/id189134601">Антон Сенькин</a></li>
            <li><p>Телефон, Telegramm, WhatsApp: +7-(981)-191-23-70</p></li>
        </ul>
    </div>
{% endblock %}