{% extends 'base.html' %}
{% load static%}
{% block content %}

<div class="index-content">
    <h1>О проекте</h1>
    <p>
    В данной работе разработана среда для применения профессиональных тестов с целью получения психологических наклонностей и особенностей человека и последующего анализа характеристик пациента посредством статистических методов.
    </p>
    <p>
    Web-сайт будет полезен как обычному человеку, который перед походом к врачу хочет убедиться в целесообразности обращения после прохождения эксперимента, так и специалисту. На основании результатов проведенных пациентом психодиагностических тестов специалист может значительно упростить и ускорить прием пациента, его диагностирование и определения дальнейшего вектора развитий и исследований для уточнения, подтверждения или опровержения диагноза.
    </p>
</div>
{% endblock %}