{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card-main">
    <div class="card-strip">
        <img class="card-avatar" src="{{ user.avatar.url }}">
        
        <a href="/authentication/logout"><img class="logout" src="{% static 'img/logout.png' %}"></a>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myfile1" style="display:none;" accept="image/png, image/gif, image/jpeg" onchange="form.submit();" id="input__file" class="input input__file">
        </form>
        <label style="cursor: pointer" for="input__file">Загрузить фото</label>
        <p class="card-name">{{ user.last_name }}<br>
            {{ user.first_name }}<br>
            {{ user.middle_name}}
        </p>
    </div>
    <h2 class="card-header">Данные:</h2>
    <p class="card-info">{{ user.birthday|date:"d.m.Y" }}</p>
    <p class="card-info">{{ user.email }}</p>
    {% if user.role == 'PC' %}
    <h2 class="card-header">Специалист:</h2>
    <p class="card-info">{{ user.specialist.get_oficial_name }}</p>
    {% endif %}
</div>

<div class="card-content">
    <p>Для изменения личных данных обратитесь к администратору</p>
</div>
{% endblock %}
