{% extends 'base.html' %}

{% block content %}
<h1>Результаты прошлых тестов:</h1>
<table>
    {% for test in tests %}
        <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}not-even{% endif %}">
            <td class="name">
                <a class="table-refer" href="/pacient/recent/{{ test.id }}">{{ test.test.name }}</a>
            </td>
            <td class="birthday">
                {{ test.date }} 
            </td>
            <td class="birthday">
                {{ test.diagnosis }}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}