{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card-main">
    <div class="card-strip">
        <img class="card-avatar" src="{{ pacient.avatar.url }}">
        <p class="card-name">{{ pacient.last_name }}<br>
            {{ pacient.first_name }}<br>
            {{ pacient.middle_name}}
        </p>
    </div>
    <h2 class="card-header">Данные:</h2>
    <p class="card-info">{{ pacient.birthday|date:"d.m.Y" }}<br>
        {{ pacient.email }}
    </p>
</div>

<div class="overlay"></div>

<div class="card-content">
    <h1>Добавленные тесты:</h1>
    <table>
        {% for test in new_tests %}
            <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}not-even{% endif %}">
                <td class="name">
                    <a class="table-refer" href="/specialist/tests/{{ test.id }}">{{ test.name }}</a>
                </td>
                <td class="birthday">
                    Количество вопросов: {{ test.quantity }} 
                </td>
            </tr>
        {% endfor %}
        <tr class="{% if tests_quantity|divisibleby:2 %}not-even{% else %}even{% endif %}">
            <td colspan="2" style="text-align: center;"><a class="table-refer" data-modal="test-modal">+ Добавить тест</a></td>
        </tr>
    </table>

    <h1>Результаты прошлых тестов:</h1>

    <table>   
    {% for test in tests %}
        <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}not-even{% endif %}">
            <td class="name">
                <a class="table-refer" href="/specialist/test_results/{{ test.id }}">{{ test.test.name }}</a>
            </td>
            <td class="birthday">
                {{ test.date|date:"d.m.Y" }} 
            </td>
            <td class="birthday">
                {{ test.diagnosis }}
            </td>
        </tr>
    {% endfor %}
</table>
</div>
<div id="test-modal" class="dlg-modal dlg-modal-fade form-container">
    <div class="auth-form">
        <h1 style="margin-top: 0px;">Выберите тест</h1>
        <span class="closer" data-close="test-modal"></span>
        <select id="test" class="form-input">
            <option disabled selected class=""> </option>
            {% for test in all_tests %}
                <option value="{{ test.id }}">{{ test.name }}</option>        
            {% endfor %}
        </select>
        <label for="id_pc" style="visibility: hidden;">|</label>
        <button type="button" class="active" id="save" required id="id_pc">Сохранить</button>
    </div>
</div>
<script>const typeAnimate = 'fade';</script>
<script src="{% static 'js/popup.js' %}"></script>
</body>
</html>
{% endblock %}

{% block script %}
    <script>
        async function SendPacData(e) {
            e.preventDefault();
            let spec = document.getElementById('test');
            let value = spec.options[spec.selectedIndex].value;
            let response = await fetch('', {
                method: 'POST',          // метод POST
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify({
                    test: value,
                })
            });
            let result = await response.json();
            if (result['status'] == 'success'){
                window.location.reload();
            }
        };
        let btn = document.getElementById('save')
        btn.onclick = SendPacData;
    </script>
{% endblock %}
