{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Тесты для прохождения:</h1>
<table>
    {% for test in new_tests %}
        <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}not-even{% endif %}">
            <td class="name">
                <a class="table-refer" href="/pacient/tests/try/{{ test.id }}">{{ test.name }}</a>
            </td>
            <td class="birthday">
                Количество вопросов: {{ test.quantity }} 
            </td>
        </tr>
    {% endfor %}
</table>
{% if tests_quantity == 0 %}
<h1 style="font-size: 24px;">Тестов пока нет.</h1>
{% endif %}
{% endblock %}