{% extends 'base.html' %}
{% block content %}
<div class="index-content">
    <div class="form-container">
        <div class="auth-form">
            <h1>Аннотация</h1>
            <p>{{ test.annotation }}</p>
            <button type="button" class="active" onclick="window.location.href='/pacient/tests/start/{{ test.id }}'">Начать</button>
        </div>
    </div>
</div>
{% endblock %}