
{% extends 'base.html' %}
{% block content %}

<form style="margin-left:10%" class="test-form">
    {% for question in test.questions.all %}
    <div class="question invisible" name="{{ forloop.counter }}">
	    <h1 style="text-align: left;">{{ forloop.counter }}/{{ test.questions.all|length }}. {{ question.text }}</h1>
        {% for answer in question.answers.all %}
            <div>
                <input style="margin-top:15px;" type="radio" name="{{ question.id }}" value="{{ answer.id }}" id="{{ answer.id }}">
                <label for={{ answer.id }}>{{ answer.text }}</label>
            </div>
        {% endfor %}
	<button name="{{ forloop.counter }}" class="next" type="button">Далее</button>
    </div>
    {% endfor %}
    <button id='test-submit'class="invisible" type="submit">Отправить</button>
</form>
{% endblock %}

{% block script %}
<script>
    async function sendData(e){
        e.preventDefault();
        let btn = document.getElementById('test-submit');
        if (btn.classList.contains('active')){
            let form = document.querySelector('[class=test-form]');
            const formData = new FormData(form).entries();
            let jsonObject = {};
            for (const [key, value]  of formData) {
                jsonObject[key] = value;
            }
            let response = await fetch('', {
                method: 'POST',          // метод POST
                headers:{
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify(jsonObject)
            });
            // получаем JSON
            let result = await response.json();
            console.log(result);
            if (result['status'] == 'success'){
                    window.location.href = `/pacient/recent/${result['id']}`
            }


        }
    }
    

    function next(e){
        e.preventDefault();
        let num = e.target.name;
        document.querySelector(`div[name="${num}"]`).classList.add('invisible');
        let questions_quantity = document.querySelectorAll('.question').length;
        if (Number(num)+1 == questions_quantity){
            document.querySelector(`div[name="${1+Number(num)}"]`).querySelector("button").classList.add('invisible');
            document.getElementById('test-submit').classList.remove('invisible');
        }
        document.querySelector(`div[name="${1+Number(num)}"]`).classList.remove('invisible');
    }

    function checkState(){
        setTimeout(() => {
            let questions = document.querySelectorAll('.question');
            for (let question of questions){
                if (!(question.classList.contains('invisivle'))){
                    let inputs = question.querySelectorAll('input');
                    let is_checked = false;
                    for (let input of inputs){
                            if (input.checked){
                                is_checked = true;
                            }
                        }
                    if (is_checked){
                        let btn = question.querySelector('button');
                        btn.classList.add('active');
                        btn.onclick=next;
                    }
                }
                
            }
            let form = document.querySelector('[class=test-form]');
            let inputs = form.querySelectorAll('input');
            let mySet = new Set();
            for (let input of inputs){
                mySet.add(input.name);
            }
            let shouldSubmit = true;
            for (let question of mySet){
                let answers = form.querySelectorAll(`[name='${question}']`);
                let is_checked = false;
                for (let input of answers){
                    if (input.checked){
                        is_checked = true;
                    }
                }
                shouldSubmit = shouldSubmit & is_checked;
            }
            let btn = document.getElementById('test-submit');
            if (!(shouldSubmit)){
                btn.classList.remove('active');
            }
            else {
                btn.classList.add('active');
            }
        }, 100);
    }

    window.onload = function(){
        document.addEventListener("keyup", checkState);
        document.addEventListener("mouseup", checkState);
        let form = document.querySelector('.test-form');
        form.onsubmit = sendData;
        document.querySelector(".invisible").classList.remove('invisible')
    }
</script>
{% endblock %}
