{% extends 'base.html' %}

{% block content %}
    <div class="index-content">
        <h1>Вопрос-ответ</h1>
        <ul>
            <li> Как зарегистрироваться на сайте?</li>
            <p>
                Для регистрации на сайте нужно нажать на кнопку входа в правом верхнем углу. Далее перейти по ссылке с надписью "Хотите зарегистрироваться?"<br>
                На странице заполнить поля:<br>
                Фамилия<br>
                Имя<br>
                Отчество<br>
                Дата рождения<br>
                Ваш адрес электронной почты (email)<br>
                Пароль<br>
                Подтверждение пароля<br>
                Нажать кнопку "Регистрация"<br>
                Выбрать тип аккаунта: "Пациент" или "Специалист".<br>
                При регистрации аккаунта "пациента" необходимо выбрать ответственного за вас специалиста из списка.<br>
                При регистрации аккаунта "специалиста" необходимо ввести код регистрации.<br>
                После заполнения всех полей нужно нажать на кнопку "Зарегистрироваться".<br>
            </p>
            <li> В тесте есть ошибка!</li>
            <p>
                Убедительная просьба сообщать о любых найденных ошибках и опечатках. Пожалуйста, учитывайте, что автор сайта не придумывает и не редактирует вопросы тестов. Неудачные, устаревшие, неоднозначные формулировки вопросов не считаются ошибками, если они соответствуют авторскому тексту в книжном источнике.
            </p>
            <li>Как встроить ваш тест на мой сайт?</li>
            <p>
                Такая возможность предусмотрена исключительно для специалистов, прошедших регистрацию.
            </p>
            <li>Как сделать так, чтобы люди проходили тест, а мне приходили результаты? </li>
            <p>
	    Результаты тестов может просматривать как специалист, так и пациент. При этом специалисту доступна возможность просматривать разбалловку каждого отдельно взятого вопроса.
            </p>
            <li> Насколько надежны/валидны ваши тесты?</li>
            <p>
                Практически все размещенные здесь тесты сделаны по книжным источникам и научным публикациям. Вопросы о надежности и валидности самой методики следует адресовать автору.
            </p>
        </ul>
    </div>
{% endblock %}
