{% extends 'base.html' %}

{% block content %}
<div style="margin: 70px;">

    <form class="test-form">
        <h1 style="text-align: left;">Название теста:</h1>
        <input class="add-test-input" name="name" type="text">
        <h1 style="text-align: left;">Аннотация:</h1>
        <textarea type="text" name="annotation" class="add-question-input"></textarea>
        <h1 style="text-align: left;">Диагноз 1:</h1>
        <div class="'add-answer-div">
            <div class="answer-row">
                <label class="answer-column1-name">Макс. балл</label>
                <label class="answer-column2-name">Название</label>
            </div>
            <div class="answer-row">
                <input type="number" name="d-1-max" class="add-answer-mark">
                <input type="text" name="d-1-name" class="add-answer">
            </div>
            <div class="answer-row">
                <label style="margin-left:80px" class="answer-column2-name">Рекоммендации</label>
            </div>
            <div class="answer-row">
                <textarea type="text" name="d-1-rec" class="add-question-input"></textarea>
            </div>
        </div>
        <h1 style="text-align: left;">Диагноз 2:</h1>
        <div class="'add-answer-div">
            <div class="answer-row">
                <label class="answer-column1-name">Макс. балл</label>
                <label style="margin-left:80px" class="answer-column2-name">Название</label>
            </div>
            <div class="answer-row">
                <input type="number" name="d-2-max" class="add-answer-mark">
                <input type="text" name="d-2-name" class="add-answer">
            </div>
            <div class="answer-row">
                <label style="margin-left:80px" class="answer-column2-name">Рекоммендации</label>
            </div>
            <div class="answer-row">
                <textarea type="text" name="d-2-rec" class="add-question-input"></textarea>
            </div>
        </div>
        <h1 style="text-align: left;">Диагноз 3:</h1>
        <div class="'add-answer-div">
            <div class="answer-row">
                <label class="answer-column1-name">Макс. балл</label>
                <label style="margin-left:80px" class="answer-column2-name">Название</label>
            </div>
            <div class="answer-row">
                <input type="number" name="d-3-max" class="add-answer-mark">
                <input type="text" name="d-3-name" class="add-answer">
            </div>
            <div class="answer-row">
                <label style="margin-left:80px" class="answer-column2-name">Рекоммендации</label>
            </div>
            <div class="answer-row">
                <textarea type="text" name="d-3-rec" class="add-question-input"></textarea>
            </div>
        </div>
        <div class="questions"></div>
        <h2 id="add-question-button" onclick="addQuestion()">+ Добавить вопрос</h2>
        <button type="submit" class="active">Отправить</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>

    async function sendData(e){
        e.preventDefault();

        let form = document.querySelector('[class=test-form]');
        const formData = new FormData(form).entries();
        let jsonObject = {};

        for (const [key, value]  of formData) {
            jsonObject[key] = value;
        } 
        let divs = document.querySelectorAll('.add-question-div')
        let count = divs.length
        jsonObject['questions'] = count
        for (let index = 0; index < count; index++){
            jsonObject[index + 1] = divs[index].querySelectorAll('.answer-row').length - 2
        }
        let response = await fetch('', {
            method: 'POST',          // метод POST
            headers:{
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),
            },
            body: JSON.stringify(jsonObject)
        });
        // получаем JSON
        let result = await response.json();

        if (result['status'] == 'success'){
            window.location.href = '/specialist/tests'
        }

        console.log(result);
    }

    function addanswer(e){
        let element = event.target;
        let question_number = event.target.getAttribute('name');;
        console.log(question_number)
        let count = element.parentNode.parentNode.querySelectorAll('.answer-row').length
        let htmlText = `<div class="answer-row">
                <input type="number" name="q-${question_number}-a-m-${count-1}" class="add-answer-mark">
                <input type="text" name="q-${question_number}-a-${count-1}" class="add-answer">
            </div>`
        element.parentNode.insertAdjacentHTML('beforebegin', htmlText)
        console.log(element)
    }

    function addQuestion(e){
        let count = document.querySelectorAll('.add-question-div').length
        let htmlText = `<div class="add-question-div">
            <h1 style="text-align: left;">Вопрос ${count+1}.</h1>
            <textarea type="text" name="q-${count+1}" class="add-question-input"></textarea>
            <div class="'add-answer-div">
                <div class="answer-row">
                    <label class="answer-column1-name">Баллы</label>
                    <label class="answer-column2-name">Ответы</label>
                </div>
                <div class="answer-row">
                    <h2 class="add-answer-button" name="${count+1}" onclick="addanswer()">+ Добавить ответ</h2>
                </div>
            </div>
        </div>`
        document.querySelector('.questions').insertAdjacentHTML("beforeend", htmlText)
    }
    window.onload = function(){
        let form = document.querySelector('.test-form');
        form.onsubmit = sendData;
    }
</script>
{% endblock %}