{% extends 'base.html' %}

{% block content %}
    <h1>Список тестов:</h1>
    <table>
        {% for test in tests_data %}
            <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}not-even{% endif %}">
                <td class="name">
                    <a class="table-refer" href="/specialist/tests/{{ test.id }}">{{ test.name }}</a>
                </td>
                <td class="birthday">
                    Количество вопросов: {{ test.quantity }} 
                </td>
            </tr>
        {% endfor %}
        <tr class="{% if tests_quantity|divisibleby:2 %}not-even{% else %}even{% endif %}">
            <td colspan="2" style="text-align: center;"><a class="table-refer" href="/specialist/tests/add">+ Добавить тест</a></td>
        </tr>
    </table>
{% endblock %}