{% extends 'base.html' %}
{% block content %}
    <h1>{{ test.name }}</h1>
    <div class="test-form index-content">
        <h1 style="text-align: left; font-size: 26px;">Аннотация:</h1>
        <p>{{ test.annotation }}</p>
        {% for diagnosis in test.diagnosis.all %} 
        <h1 style="text-align: left; font-size: 26px;">Диагноз {{ forloop.counter }}: {{ diagnosis.name }}</h1>
            <p>
                Верх диапазона:<br>
                {{ diagnosis.max_mark }}
            </p>
            <p>
                Рекоммендации:<br>
                {{ diagnosis.recommendations }}
            </p>
        {% endfor %}
        <h1>Вопросы:</h1>
        {% for question in test.questions.all %}
            <h1 style="text-align: left">{{ forloop.counter }}.{{ question.text }}</h1>
            <ul>
                {% for answer in question.answers.all %}
                <li>{{ answer.text }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}