{% extends 'base.html' %}

{% block content %}
<h1>Список пациентов:</h1>
<table>
    {% for pacient in pacients %}
        <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}not-even{% endif %}">
            
            <td class="name">
                <a class="table-refer" href="/specialist/pacients/{{ pacient.slug }}">{{ pacient.name }}</a>
            </td>
            <td class="birthday">
                {{ pacient.birthday }}
            </td>
        </tr>

    {% endfor %}
</table>
{% endblock %}
