{% extends 'base.html' %}

{% block content %}
<h1>{{ test.test.name }}</h1>
<div class="test-form index-content">
    <h2>Диагноз: {{ test.diagnosis.name }}</h2>
    <p>
        Рекоммендации:<br>
        {{ test.diagnosis.recommendations }}
    </p>
    {% if user.role == 'DC' %}
    <p>
        Баллов:<br>
        {{ test.mark }}
    </p>
    {% endif %}
{% for answer in test.answers.all %}
<h1 style="text-align: left">{{ forloop.counter }}. {{ answer.question.text }}</h1>
    <ul>
	    
	 {% if user.role == 'DC' %}<p style="margin:0;">{{ answer.answer.mark }} б.</p>{% endif %}   

	    <li>{{ answer.answer.text }}</li>
    </ul>

    {% endfor %}
</div>
{% endblock %}
