{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form }}
            <label for="id_auth" style="visibility: hidden;">|</label>
            <button type="submit" required id="id_auth">Войти</button>
            <label for="to-register" style="visibility: hidden;">|</label>
            <a id="to-register" href="/authentication/register">Хотите зарегистрироваться?</a>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        function checkState(){

            let form = document.querySelector('[class=auth-form]');

            let inputs = document.querySelectorAll('input');
            let btn = document.getElementById('id_auth');
            let is_empty = false
            for (let input of inputs){
                is_empty = is_empty | (input.value.length == 0);
            }
            if (is_empty){
                btn.classList.remove('active');
            }
            else {
                btn.classList.add('active');
            }
        }

        window.onload = function() {
            document.addEventListener("keyup", checkState);
            document.addEventListener("mouseup", checkState);
            let form = document.querySelector('[class=auth-form]');
            form.onsubmit = SendForm;
        };

        async function SendForm(e)
            {
                e.preventDefault();

                let form = document.querySelector('[class=auth-form]');
                let response = await fetch('', {
                    method: 'POST',          // метод POST
                    headers:{
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                    body: new FormData(form) // в класс FormData передаем ссылку на форму
                });

                // получаем JSON
                let result = await response.json();

                if (result['status'] == 'success'){
                    window.location.href = '/lk/'
                }
                if (result['status'] == '0'){
		    if ((document.querySelectorAll('[class=auth-error]').length) < 1){
                      let p = document.createElement('p');
                      p.innerHTML = 'Неправильный email или пароль';
                      p.classList.add('auth-error')
                      let target = document.querySelector(`[id=id_auth]`);
                      target.insertAdjacentElement('beforeBegin', p);
		    }
                }

                console.log(result);
            };
    </script>
{% endblock %}
