{% extends 'base.html' %}

{% block content %}

    <div class="form-container">
        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form }}
            <label for="id_register" style="visibility: hidden;">|</label>
            <button type="submit" required id="id_register">Регистрация</button>
        </form>

</div>
{% endblock %}

{% block script %}
    <script>
        function checkState(){

            let form = document.querySelector('[class=auth-form]');

            let inputs = document.querySelectorAll('input');
            let btn = document.getElementById('id_register');
            let is_empty = false
            for (let input of inputs){
                is_empty = is_empty | (input.value.length == 0);
            }
            if (is_empty){
                btn.classList.remove('active');
            }
            else {
                btn.classList.add('active');
            }
        }

        function showMessages(result){
            let errors = result['errors']; 
            console.log(errors);
            let nowErrors = document.querySelectorAll('.auth-error');
            for (let element of nowErrors){
                element.remove();
            }
            for (let name in errors){
                for (let index = 0; index < errors[name].length; index++){
                    let p = document.createElement('p');
                    p.innerHTML = errors[name][index]['message'];
                    p.classList.add('auth-error')
                    let target = document.querySelector(`[name=${name}]`);
                    target.insertAdjacentElement('beforeBegin', p);
                }
            }
        }

        async function SendForm(e){
            e.preventDefault();

            let form = document.querySelector('[class=auth-form]');
            let response = await fetch('', {
                method: 'POST',          // метод POST
                headers:{
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: new FormData(form) // в класс FormData передаем ссылку на форму
            });

            // получаем JSON
            let result = await response.json();

            if (result['status'] == 'success'){
                window.location.href = '/authentication/role/'
            } else{
                showMessages(result)
            }

            console.log(result);
        }


        window.onload = function() {
            document.addEventListener("keyup", checkState);
            document.addEventListener("mouseup", checkState);
            let form = document.querySelector('[class=auth-form]');
            form.onsubmit = SendForm;
        };

    </script>
{% endblock %}
