{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
        <div class="auth-form">
            <h1>Выберите специалиста</h1>
            <select id="spec" class="form-input">
                <option disabled selected class=""> </option>
                {% for specialist in specialists %}
                    <option value="{{ specialist.email }}">{{ specialist.get_oficial_name }}</option>        
                {% endfor %}
            </select>
            <label for="id_pc" style="visibility: hidden;">|</label>
            <button type="button" class="active" id="save" required id="id_pc">Сохранить</button>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        async function SendPacData(e) {
            e.preventDefault();
            let spec = document.getElementById('spec');
            let value = spec.options[spec.selectedIndex].value;
            let response = await fetch('', {
                method: 'POST',          // метод POST
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify({
                    specislist: value,
                })
            });
            let result = await response.json();
            if (result['status'] == 'success'){
                window.location.href = '/lk/';
            }
        };
        let btn = document.getElementById('save')
        btn.onclick = SendPacData;
    </script>
{% endblock %}