{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
        <div class="auth-form">
            <h1>Введите код регистрации</h1>
            <input type="text" class="form-input" id="code">
            <label for="id_dc" style="visibility: hidden;">|</label>
            <button type="button" class="active" id="save" required id="id_dc">Сохранить</button>
        </div>
    </div>
{% endblock %}

{% block script %}
{% csrf_token %}
    <script>
        async function SendSpecData(e){
            e.preventDefault();
            let inputCode = document.getElementById('code').value;
            let response = await fetch('', {
                method: 'POST',          // метод POST
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify({
                    code: inputCode,
                })
            });
            let result = await response.json();
            if (result['status'] == 'success'){
                window.location.href = '/lk/';
            }
            if (result['status'] == 'fail'){
                let nowErrors = document.querySelectorAll('.auth-error');
                for (let element of nowErrors){
                    element.remove();
                }
                let p = document.createElement('p');
                p.innerHTML = 'Неверный код регистрации';
                p.classList.add('auth-error')
                let target = document.querySelector('#code');
                target.insertAdjacentElement('beforeBegin', p);
            }
        };
        let btn = document.getElementById('save')
        btn.onclick = SendSpecData;
    </script>
{% endblock %}