{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <div class="auth-form">
        <h1 id="h-role-choose">Выберите тип аккаунта</h1>
        <div>
            <label for="id_pc" style="visibility: hidden;">|</label>
            <button type="button" class="active" id="PC" required id="id_pc">Пациент</button>
            <label for="id_dc" style="visibility: hidden;">|</label>
            <button type="button" class="active" id="DC" required id="id_dc">Специалист</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% csrf_token %}
    <script>
        async function SendPacientData(e){
            e.preventDefault();
            let response = await fetch('', {
                method: 'POST',          // метод POST
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify({
                    role: 'PC',
                })
            });
            let result = await response.json();
            if (result['status'] == 'success'){
                window.location.href = '../selectpacient/'
            }
        };
        async function SendSpecData(e){
            e.preventDefault();
            let response = await fetch('', {
                method: 'POST',          // метод POST
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: JSON.stringify({
                    role: 'DC',
                })
            });
            let result = await response.json();
            if (result['status'] == 'success'){
                window.location.href = '../selectspec/'
            }
        };
        
        let btn1 = document.getElementById('PC')
        let btn2 = document.getElementById('DC')
        btn1.onclick = SendPacientData;
        btn2.onclick = SendSpecData;
    </script>
{% endblock %}